# Utilisez l’adresse IP locale de votre ordinateur sur un téléphone physique.
# Émulateur Android : http://10.0.2.2:3000
# Simulateur iOS : http://localhost:3000
EXPO_PUBLIC_API_URL=http://192.168.1.25:3000
